/*
Until IE6 is on the stage, it's normal practice to include a separate stylesheet which will override style.css
to fix common known IE6 bugs, such as:

- double left-margin
- peek-a-boo (invisibility or other side effects) effect of blocks with backgrounds with computed heights - cured by adding height:1%
- other nasty IE6 behaviours

We do not accept commonly used IE hacks, which are against w3c waidation rules
*html 
_tag-name
name other alike
PLEASE NEVER USE THESE!
*/

body { text-align:center; /* for IE to center container*/ }
#wrapper {text-align:left; /*set up left align back for all other containers */}

#sitename{
  width: 300px !important;
}