/**
 * Warmy, for Drupal 5.x
 *       www.sfordela.com 
*/
 

/* ----- layout ----- */
body {
  font: 13px/16px Verdana, Arial, Helvetica, sans-serif;
  color: #333333;
  background: url(img/bg.png) repeat; 
  font-family:Calibri,Verdana,Arial,Helvetica,sans-serif;
  font-size:13px;  
}

.clear {
  clear:both;
  display:block;
  font-size:0;
  height:1px;
  line-height:0;
  margin-bottom:-1px
}

#header {
  position:relative;
  height: 180px;
  background: url(img/bg_header.png) no-repeat;
}

#logo {
  position: absolute;
  top: 25px;
  left: 30px;
}

#logo img { }

/* 
Normally we count minimal screen width 1024px minus browser chrome (for eg scrollbar). So, it's normally used value from 960 to 980px
*/

#wrapper {
  width:986px;
  padding:0;
  margin: 0 auto;
}

#wrapper .column { float: left; }

/* 
columns width are calcalated as following: (#center + padding-left + padding-right)+(#left + padding-left + padding-right)+(#right + padding-left + padding-right) = #wrapper
If you add border-left or border-right (for eg. 1px) it should also be added into calculations!
*/
#content{
  background: url(img/bg_content.png) ;
  padding: 10px 0px 10px 0;

}


#center {
  padding: 0 0px 0px 0px;
  margin: 0 0 0 20px;
  width: 590px;
  background: url(img/bg_center.png) bottom no-repeat;
  
}

#wrap{
  width:569px;
  border:1px solid #FFCC99;
  padding: 10px 10px 20px 10px;
  min-height: 400px;
  height: auto !important;
  height: 400px;
} 

#left {
  width: 311px;
  padding: 0 0px 0 32px;
}

#right {
  width: 200px;
  padding: 0 0 0 10px;
}

#footer {
  height: 120px;
  background: url(img/bg_footer.png) no-repeat;
}

#footer_inner{
  position: relative;
  background: url(img/bg_footer_inner.png) bottom no-repeat;
  width: 919px;
  height: 98px;
  margin: 0 auto;
  border: 1px solid #FFCC99;
}

/* ----- end of layout ----- */

/* ----- basic HTML elements and drupal-specific stuff ----- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.6em;
  background: url(img/pixel.png) repeat;
  border: 1px solid #ffcc99;
  
  text-align: center;
  padding: 3px 0;
}
#center h1.title{
  margin: 0 0 0.5em 0;  
}
.front #center h1.title{
  margin: 0.5em 0;  
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #CC6600;  
}
a:visited {
  color: #CC6600; 
}
a:hover {
  color: #FF9900;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

ul.links li { border-left: 1px solid #ccc; }
ul.links li a { margin-left:2px; }
ul.links li.first { border-left: none !important; }
ul.links li.last { padding-right:0 }

ul.primary li.active a, ul.primary li.active a:hover {
  background-color:#ffffcc;
  border-color:#BBBBBB #BBBBBB #FFFFFF;
  border-style:solid;
  border-width:1px;
}

ul.primary li a {
  background-color:#ffcc99;
  border-color:#BBBBBB;
  border-style:solid solid none;
  border-width:1px;
  height:auto;
  margin-right:0.5em;
  padding:0 1em;
  text-decoration:none;
  color: #000;
}

ul.primary li a:hover {
  background-color:#ff9900;
  border-color:#CCCCCC #CCCCCC #EEEEEE;
}

table {
  width: 100%;
}

table thead {
  color: black;
}

td.active{
  background-color: #FF9900;
}

tr.even, tr.odd {
  background-color:#FFCC99;
  border-bottom:1px solid #FFCC99;
  padding:0.1em 0.6em;  
}

table tbody tr.odd,
table tbody tr.odd td.menu-disabled{
  background: #FFCC99;
  border-bottom: solid 1px #FFFFCC;
}

table tbody tr.even,
table tbody tr.even td.menu-disabled{
  background: #FFFFCC;
  border-bottom: solid 1px #FFFFCC;
}

table tr td.region{
  font-weight: normal;
  color:#FFFFFF;
  background: #6699CC;
}

ul.secondary li.active a.active {
  border-bottom: solid 1px #18324B;
}

.form-submit{
  margin: 5px 0 0 0;
  background-color: white;
  border: 1px solid #ff9900;  	
}

.form-item input, .resizable-textarea .form-textarea{
  border: 1px solid gray;
}

.form-item input:hover, .resizable-textarea .form-textarea:hover{
  border: 1px solid #FFCC99;
}

/*Fieldsets customization*/
fieldset{
  border: 1px solid #FF9900;
}

/*----- theme-specific styles start here -----*/

/*----- Primary navigation -----*/

#primary-links {
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  height:35px;
  width:962px;  
  background: url(img/bg_nav.png) repeat-x;
  font-size:100%;
  line-height:normal;
}

#primary-links ul {
  padding:0;
  margin:0;  
  list-style:none;
  float: right;  
}

#primary-links ul li {
  float:left;
  margin:0;
  padding:0;
  border: none;
}

#primary-links ul li:hover, #primary-links ul li.hovered{
  background:url("img/menu_bg_right.jpg") no-repeat right top;
}

#primary-links ul li a, #primary-links ul li a:visited {
  display:block;  
  padding:6px 15px 7px 15px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333333;  
  text-decoration: none;
}

#primary-links ul li a:hover {
  color: #333333;
  background:url("img/menu_bg_left.jpg") no-repeat left top;
}


/*Search box theming*/
#block-search-0{
  display: none;
}

#searchbox {
  position: absolute;
  top: 35px;
  left: 730px;
  width:245px;
  height: 20px;  
  margin-right: 8px;   
}

#searchbox .form-item label{
  display: none;
}


#search{
  position: relative;   
}


#search .form-text {
  width: 134px;
  height: 15px;  
  margin-left: 0px;
  background: none;
  border: none;
  color: #333333;
  font-size: 12px;
}

#edit-search-theme-form-keys-wrapper{
  float: left;
}

#search .form-submit {
  height: 24px;
  width: 65px;	
  padding: 0 3px 3px;
  position: absolute;
  top: -6px;
  font-size: 13px;  
  background: transparent url(img/button.png) no-repeat center top;
  overflow: hidden;
  border: 0;   
  font-weight: bolder;
  font:Trebuchet MS, Helvetica, sans-serif;
  color: black; 
  cursor: pointer; /* hand-shaped cursor */
}

#search form>#edit-submit { /* For non-IE browsers*/
  height: 0px;
}

#searchbox .form-item{
  background: url(img/search_field.png) no-repeat;
  width: 145px;
  padding: 3px 7px 7px 7px; 
  margin: 0 7px ;
}

#edit-search-theme-form-keys{
	background-color: white;
	margin-left: 3px;
}

/*----- Sitename style -----*/
#sitename {
  position: absolute;  
  top: 30px;
  left: 210px;  
}

#sitename h1 a{
  font: 65px Impact, “Century Gothic”, Verdana;
  color: black;
  padding: 2px 7px;
  text-decoration: none;    
}

/*----- Left blocks style -----*/
#left .block h2.block-title{
  background:url(img/titlebox.png) no-repeat;
  font-weight:bold;
  font-size: 1.6em;
  padding:10px 0px 12px 0px;
  width: 290px;  
  margin: 5px 0 0 0;
  text-align: center;  
}

#left .block h2.block-title span{
  padding: 0 0 0 15px;
}

#left .block {
  background: url(img/bg_block.png) bottom no-repeat;
  padding:0 0 0 8px;
  border: 1px solid #FFCC99;
  margin: 0 0 10px 0;
  min-height: 140px;
  height: auto !important;
  height: 140px;
}

/*----- Author info -----*/
#author_info {
  position: absolute;
  top: 60px;
  left: 820px;
  color:#333333;  
  font-size:10px;
  line-height:6px;  
}

/*------ Footer navigation -----*/
#primary-links-footer .links a{  
  font-size: 11px;
  color: black;
}

#primary-links-footer .links a:hover{  
  font-size: 11px;
  color: #FF9900;
}

#primary-links-footer ul.links{
  margin-top: 5px;
  text-align: center;  
}

#primary-links-footer ul.links li{
  border-right: 1px solid #FFCC99;
  border-left: none;
  padding-right: 10px;
  padding-left: 5px;  
}

#primary-links-footer ul.links li.last{
  border-right: none;
}

#primary-links-footer{
  margin: 15px 0 0 0;
}

/*----- Who's online -----*/
#block-user-3 {
  position: absolute;
  top: 170px;
  left: 710px;
}

#block-user-3 .block-title, #block-user-3 div.item-list{
  display: none;
}

/*----- Login block -----*/
#block-user-0 #edit-name-wrapper label, #block-user-0 #edit-pass-wrapper label{
  display: inline;
}

#block-user-0 .form-submit{
  margin: 0;  
}

#block-user-0 div.item-list{  
  text-align: center;
  margin: 5px 0;
  font-size: 11px;
}

#block-user-0 div.item-list ul li{
  display: inline;
}

/*----- Left block other styles -----*/
#left .block > ul, #left .block .item-list > ul {
  margin:0;
  padding:0 0 0.25em 1em;
  width: 270px;
}

#left ul li{
  padding: 0 5px 0 5px;
}

#left ul li:hover{
  background: #cc6600; 
}

#left ul li:hover > a{
  color: #ffffcc;
  text-decoration: none;
}

#left ul li.expanded:hover{
  background: none;
}

#left ul li.expanded > a{
  color: #000;
  text-decoration: none;
}

/*----- Blog styling -----*/
li.comment_add{
  padding:5px 25px 5px 5px !important;
  background: url(img/comment_icon.png) no-repeat;
  background-position: 115px 0px;
}

li.comment_comments{
  padding:7px 25px 3px 5px !important;
  background: url(img/comment_icon.png) no-repeat;
  background-position: right;
}

div.comment{
  border: 1px solid #FFCC99;
  padding: 5px 15px 10px 15px;
  margin-top: 10px;
}

div.links{
  text-align: right;
}

div.comment h3.title{
  margin: 5px 0 2px 0;
}

div.comment div.content{
  width: 300px; 
  padding: 0 15px;
}

div.comment div.submitted{
  font-size: 10px;
}




